<html>
<head>
    <title>Add New Account</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
    Account First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    <br />
    Account Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    <br />
    Account email: <input id="email" name="email" type="text" />

    <input type="submit" />
</form>

<br />
<form action="/account/all">
    <input type="submit" value="Cancel and return"/>
</form>

</body>

</html>