<html>
<head>
    <title>Accounts - <%= result[0].account_name %></title>
</head>
<body>
    <h1>Accounts</h1>
    <ul>
        <li>Account ID: <%= result[0].account_id%></li>
        <li>Account Name: <%= result[0].account_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>