<html>
<head>
    <title>Accounts - <%= result[0].account_id %></title>
</head>
<body>
    <h1>Accounts</h1>
    <ul>
        <li>First Name: <%= result[0].first_name %></li>
        <li>Last Name: <%= result[0].last_name %></li>
        <li>Email: <%= result[0].email %></li>
    </ul>
</body>

<br />
<a href = "/account/all"><< back to Accounts</a>

</html>