<html>
<head>
    <title>Resumes - <%= result[0].resume_name %></title>
</head>
<body>
    <h1>Resumes</h1>
    <ul>
        <li>Resume ID: <%= result[0].resume_id%></li>
        <li>Resume Name: <%= result[0].resume_name %></li>
        <li>Account ID: <%= result[0].account_id %></li>
    </ul>
</body>

</html>