<html>
<head>
    <title>Resumes - <%= result[0].resume_name %></title>
</head>
<body>
    <h1>Resumes</h1>
    <ul>
        <li>Resume Name: <%= result[0].resume_name %></li>
        <li>Account Name: <%= result[0].first_name %> <%= result[0].last_name %></li>
    </ul>

    <br />
    <a href = "/resume/all"><< back to Resumes</a>
</body>

</html>