<html>
<head>
    <title>Add New Skill</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill Name: <input id="name" name="name" type="text" />
    <br />
    <br />
    Skill Description: <input id="description" name="description" type="text" />

    <input type="submit" />
</form>

<br />
<form action="/skill/all">
    <input type="submit" value="Cancel and return"/>
</form>

</body>

</html>