<html>
<head>
    <title>Companies - <%= result[0].company_name %></title>
</head>
<body>
    <h1>Companies</h1>
    <ul>
        <li>Company ID: <%= result[0].company_id%></li>
        <li>Company Name: <%= result[0].company_name %></li>
    </ul>
</body>

</html>