<html>
<head>
    <title>Companys - <%= result[0].company_name %></title>
</head>
<body>
    <h1>Companys</h1>
    <ul>
        <li>Company ID: <%= result[0].company_id%></li>
        <li>Company Name: <%= result[0].company_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>