<html>
<head>
    <title>Add New Address</title>
</head>
<body>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Street: <input id="street" name="street" type="text" />
    <br />
    <br />
    Zip Code: <input id="zip_code" name="zip_code" type="text" />

    <input type="submit" />
</form>

<br />
<form action="/address/all">
    <input type="submit" value="Cancel and return"/>
</form>

</body>

</html>