<html>
<head>
    <title>Addresss - <%= result[0].address_name %></title>
</head>
<body>
    <h1>Addresss</h1>
    <ul>
        <li>Address ID: <%= result[0].address_id%></li>
        <li>Address Name: <%= result[0].address_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>